<!DOCTYPE html>
<html>

<head>
  <title>Secret</title>
  
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Hover over the card to see your secret</h1>
  <div class="card">
    <div class="card-content">
      <p class="secret-text">
        <%= secret %>
      </p>
    </div>
  </div>
  <p class="user">
    <%= user %>
  </p>
</body>


</html>